<!DOCTYPE html>
<html lang="en">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <!-- stylesheets -->
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet" media="screen"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Index</title>
  
</head>

<body>
  <!-- define our angular app -->
  <html ng-app>

  <div class = "container">
      <div class="jumbotron bg-secondary text-white text-center">
        <h1>Masakhane Web</h1>
        <h4>Machine Translation System for African Languages</h4>   
      </div>  

    <!-- </div>
        <h1>Masakhane Web</h1>
        <h4>Machine Translation System for African Languages</h4>     
        </div>
      </div> -->
  <div class="row">
    <hr>
  </div>

  <div class= "row">
    <div class="col-sm-8"></div>
  <div class="col-sm-4">
      <select id="dropdown">
        <option value="twi">Twi</option>
        <!-- <option value="Yoruba">Yoruba</option>
        <option value="Setswana">Setswana</option>
        <option value="Arabic">Arabic</option>
        <option value="Hausa">Hausa</option> -->
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 text-left">
      <form method="POST" action="/translate"></form>
      <textarea ng-model="string" id="to" class="form-control" name="message" style="font-size:2em" rows="10" ng-attr-placeholder="Your Text in English">{{ message }}</textarea>
    </div>
    <div class="col-md-2 text-center">
    <button type="submit" class="btn btn-primary">Translate</button>
    </div>
    <div class="col-md-5">
      {% if predict %}
      <textarea id="from" class="form-control"name="message" style="font-size:2em" rows="10">{{ sentiment_value }}</textarea>
      {% endif %}
    </div>
  </div>
</div>

  </div>



  
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>